<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">家庭記帳本</a>
</nav>
<h3>總金額</h3>
<select name="" id="">
  <option value="">abc</option>
  <option value="">123</option>
</select>

<ul class="list-group">
  <li class="list-group-item">吃飯
    <a href="./expense/edit" class="btn">修改</a>
    <a href="" class="btn">刪除</a>
  </li>
  <li class="list-group-item">睡覺</li>
</ul>

<a href="./expense/new" class="btn btn-primary">新增支出</a>