<div class="row mt-5">
  <div class="col-md-4 mx-auto">
    <div class="card shadow">
      <form action="/expense" method="POST">
        <h1 class="text-center mt-3">新增支出</h1>

        <div class="form-group row align-items-center justify-content-center mt-3">
          <label class="col-md-2" for="name">名稱*:</label>
          <input class="form-control col-md-4 text-left" type="text" id="name" name="name" required>
        </div>

        <div class="form-group row align-items-center justify-content-center mt-4">
          <label class="col-md-2" for="date">日期*:</label>
          <input class="form-control col-md-4 text-left" type="date" id="date" name="date" required>
        </div>

        <div class="form-group row align-items-center justify-content-center mt-4">
          <label class="col-md-2" for="category">類別*:</label>
          <select class="form-control col-md-4 text-left" name="category" id="category">
            <option value="">選擇類別</option>
            {{#each categories}}
            <option value="{{ this.categoryName }}">{{ this.categoryName }}</option>
            {{/each}}
          </select>
        </div>

        <div class="form-group row align-items-center justify-content-center mt-4">
          <label class="col-md-2" for="amount">金額*:</label>
          <input class="form-control col-md-4 text-left" type="number" id="amount" name="amount" required>
        </div>

        <div class="form-group row d-flex justify-content-center mt-3 mb-4">
          <button type="submit" class="btn btn-success btn-lg col-md-4 text-center">新增支出</button>
        </div>
      </form>
    </div>
  </div>
</div>