body {
  background-color: azure;
}

.total-amount, .record-section-amount{
  font-weight: 700;
}

.record-section-info, #category, #record-month, .record-section-amount, .create-btn {
  font-size: 1.5rem;
}